<h1>A Formatting App for Byliner</h1>

<p> Automatically format an article's <b>bold</b> and <i>italic</i> words in the markdown language used in the Byliner Admin. <br> (Now clears up common OCR mistakes, too!) <%= mail_to("jj5201@gmail.com", "Report Bugs", :subject => "Markdown App Bug(s)") %></p> 




<div id="website" style="height:600px;width:650px; float:left; padding-right:100px" >
	<h2>From a Website: </h2>
	<ol>
		<li>Navigate to the Print Page of the article, <b>Right Click & Select "View Source" </b></li>
		<li>In the Source View, <b>Select All & Copy </b></li>
		<li><b>Paste</b> into the box below &<b> Click Submit</b>!</li>
	</ol> 
	<h2>From OCR: </h2>
	<ol>
		<li>Open the .html OCR file in your favorite text editor</li>
		<li><b>Copy</b> the raw HTML, <b>Paste</b> into the box below &<b> Click Submit</b>!</li>
		
	</ol> 

	<%= form_for(@harvest) do |f| %>
	 

		<div class="field">

			<%= f.text_area :raw_text, size: "75x18", placeholder: "Paste the source code here..." %>

		</div>


	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
